@model EmpleadoViewModel
@{
    ViewData["Title"] = "Empleado";
}

<div> 
    @Html.TextBoxFor(Model => Model.Nombres)
</div>

<div class="text-center">
    <h1 class="display-4">Empleado</h1>    
</div>

